* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --locked-color: #444444;
  --unlocked-color: #444444;
}

body {
  background-color: #f9f9fe;
}

.container {
  width: 100vw;
  height: 100vh;
}

.card {
  min-width: 300px;
  width: 500px;
  border-radius: 24px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  padding: 24px 80px;
}

/* .fa-lock {
  color: #444444;
  background-color: #dcc5fb;
  padding: 24px;
  border-radius: 50px;
} */

.lock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}

.lock {
  width: 24px;
  height: 21px;
  border: 3px solid var(--locked-color);
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.lock:after {
  content: "";
  display: block;
  background: var(--locked-color);
  width: 3px;
  height: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3.5px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.lock:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  bottom: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid var(--locked-color);
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom: 0;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

/* Unlocked */
.unlocked {
  transform: rotate(10deg);
}
.unlocked:before {
  bottom: 120%;
  margin-left: -14px;
  transform: rotate(-45deg);
}
.unlocked,
.unlocked:before {
  border-color: var(--unlocked-color);
}
.unlocked:after {
  background: var(--unlocked-color);
}

h1 {
  color: #444444;
}

.description {
  color: #7e7e7e;
  font-size: 0.8rem;
  margin-bottom: 40px;
}

label {
  color: #737070;
  font-size: 0.9rem;
}

.form-control:focus {
  background-color: #dcc5fb17;
  border: 1px solid #dcc5fb;
  box-shadow: 0 0 4px 0.1rem #d7bbfb;
}

.validation {
  color: #aeaeae;
  font-size: 0.9rem;
}

.pw-state {
  width: 100%;
  height: 32px;
  background-color: #e2e2e2;
  margin-bottom: 80px;
}

.validation i {
  font-size: 0.8rem;
}

#bar {
  height: 100%;
  width: 0%;
  background-color: #e2e2e2;
  transition: width 0.5s ease;
}
